html{
    font-family: Andale Mono, monospace;
}
h1, h2, p{
    text-align: center;
    color: orangered;
}
p{
    font-size: 18px;
}
#p1{
    width: 50%;
    margin: 0px auto 1vw;
}
#divPrincipal{
    background-color: orange;
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#divPrincipal > p,#radioNiveau >p{
    color: #fff;
}
#divMot{
    background-color: #ccc;
    padding: 15px;
    border-radius: 15px;
    margin: 5px 10px;
    width: 70%;
}
#popup{
    background-color: orangered;
    height: auto;
    width: 25%;
    position: absolute;
    border-radius: 25px;
    z-index: 6;
}
.off{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 15px 22px;
}
form > p, h3{
    color: #fff;
}
form > input{
    margin-top: -4px;
}
h3{
    font-size: 20px;
    margin-bottom: -4px;
}
#boutonOkPopup{
    margin-top: 2px;
}
#fond-popup{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 5;
}